@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;200;300;500;700&display=swap');

body{
    background-color: #F3EAE3;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

#card{
    width: 580px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin: 30px auto;
}

#paragraph{
    font-family: Fraunces;
    font-size: 30px;
    color: #3D8168;
    margin: 0px;
}

img{
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}

.image{
    width: 290px;
    height: auto;
    /* background-image: url(./images/image-product-mobile.jpg); */
}

.price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: faunces;
}

.oldprice{
    margin-left: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.texts{
    margin: 20px;
}

h1{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: hsl(228, 12%, 48%);
}

h3{
    font-family: Montserrat;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

button{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 70px;
    background-color: #3D8168;
    color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
}

button:hover{
    background-color: #133b2d;
}

.icon{
    margin-right: 10px;
    font-size: 12px;
}

@media screen and (max-width: 390px) {
    body {
      background-color:  #F3EAE3;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 20px;
    }

    #card{
        height: auto;
        background-color: white;
        border-radius: 10px;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    img{
        border-radius: 10px 10px 0px 0px;
        height: 100%;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }
    
    .image {
        width: 340px;
        height: 350px;
    }

    .container{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .texts{
        align-items: center;
        justify-content: center;
        display: block;
    }




  }