@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;200;300;500;700&display=swap');

body{
    background-color: #F3EAE3;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

#card{
    width: 580px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
}

#paragraph{
    font-family: Fraunces;
    font-size: 30px;
    color: #3D8168;
}

img{
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}

.image{
    width: 290px;
    height: auto;
}

.price{
    display: flex;
    align-items: center;
}

.oldprice{
    margin-left: 10px;
}

.container{
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 290px;
}

h1{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
}

p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 200;
    color: hsl(228, 12%, 48%);
}

h3{
    font-family: Montserrat;
    font-weight: 100;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

button{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 60px;
    background-color: #3D8168;
    color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 10px;
    font-size: 12px;
}